body{
    font-family: 'Instrument Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1E1E1E;
}

.boardContainer{
    
    border-radius: 8px;
}

.section {
  /* border: 1px solid #eee; */
  border-radius: 8px;
  display: flex;
  /* padding: 1vw; */
  overflow-x: scroll;
  width: 95%;
  height: 30vh;
  margin: 1vw;
}

.card {
    border: .5px solid #eee;
    padding: 1.5vh;
    /* border-radius: 8px; */
    margin: 3vh;
    height: 25vh;
    width: 25vh;
    transition: all 0.2s ease-in-out;
    margin: auto 1vw;
    overflow-y: hidden;
    overflow: visible;
}

.cardImg{
    height: 25vh;
    width: 25vh;
    object-fit: cover;
    border-radius: 8px;
}

.cardDisc {
    font-size: 1.2vw;
    color: #fff;
    margin-top: 8px;
}

.addCard {
    border: .5px solid #eee;
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    width: 15vw;
}

.card.active {
  border: 2px solid #3995E6;
  background-color: rgba(57, 149, 230, 0.1);
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
}

.inputBox {
    border: 1px solid #eee;
    padding: 8px;
    border-radius: 4px;
    margin: 6px 5px;
    background-color: #2C2C2C;
    color: #fff;
}

.submitButton {
    background-color: #3995E6;
    color: #fff;
    padding: 8px 16px;
    margin-top: 10px;;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.submitButton:hover {
    background-color: #2a7bbf;
}

.submitButton:disabled {
    background-color: #666;
    cursor: not-allowed;
}

.cardDelete {
    background-color: #ff4d4d;
    color: #fff;
    padding: 8px 8px;
    border: none;
    z-index: 10;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: relative;
    left: 80%;
    width: fit-content;
}

.buttonContainer {
    position: relative;
    top: -110%;
    height: 100%;
    gap: 8px;
    margin-top: 8px;
}

.cardInfoWrapper {
    display: none;
    align-items: space-between;
    justify-content: space-between;
    transition: all 0.4s ease-in-out;
}

.linkButton {
    background-color: #2C2C2C;
    color: #fff;
    /* border: 0.5px solid ; */
    border: none;
    padding: 8px 16px;
    height: 80%;
    position: relative;
    z-index: 10;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

.linkButton:hover {
    background-color: #2a7bbf;
}

.toggleDetailsButton{
    background-color: #2C2C2C;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.adminLoginButton{
    background-color: #1E1E1E;
    color: #fff;
    padding: 8px 16px;
    border: 1px solid #3995E6;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.adminLogoutButton{
    background-color: #ff4d4d;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.sectionTitle {
    color: #eee;
    font-size: 1.5vw;
    margin: 1vw;
}

.totalContainer{
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 1vw;
    justify-self: flex-end; 
}

.totalTitle{
    color: #eee;
    font-size: 1.5vw;
    margin-right: 1vw;
}

.totalPrice{
    color: #eee;
    font-size: 2.5vw;
}
