@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
    font-family: 'Instrument Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1E1E1E;
}

.title{
    font-family: "Michroma", sans-serif;
    font-size: 2.5em;
    color: #eee;
    position: absolute;
    left: 2em;
    top: -0.3em;
}

.header {
    width: 97.5%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
    background-color: #1E1E1E;
    border-bottom: 1px solid #333;
    height: 3em;
}

.boardContainer{
    padding-top: 3em;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}



.section {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 95%;
  height: 33vh;
  /* border-top: 1px solid #333;
  padding-top: 0px;
  margin-top: 8px; */
}

.card {
    border: .5px solid #eee;
    padding: 1vh;
    border-radius: 8px;
    margin: 3vh;
    height: 25vh;
    width: 25vh;
    transition: all 0.2s ease-in-out;
    margin: auto 1vw;
    overflow: visible;
    
}
.card:hover {
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}

.cardImg{
    height: 25vh;
    width: 25vh;
    object-fit: cover;
    transition: height 0.5s ease-in-out;
   
    /* border-radius: 8px; */
}

.cardDisc {
    color: #fff;
    margin: auto 1px;
    font-size: 1.2em;
}

.addCard {
    background-color: #131313a8;
    border-bottom: 1px solid #333;
    color: #eee;
    padding: 1.5vh;
    margin: 2em auto;
    height: 100%;
    width: 90vw;
    transition: all 0.2s ease-in-out;
    overflow-y: hidden;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: #eeeeee14 0px 0px 20px;
}
#priceInput {
    width: 35%;
}
#rowInput {
    width: 35%;
}


.card.active {
  border: 2px solid #3995E6;
  background-color: rgba(57, 149, 230, 0.1);
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
}

.inputBox {
    border: none;
    padding: 8px;
    border-radius: 4px;
    background-color: #2C2C2C;
    color: #fff;
    width: 80%;
    height: 50%;
}
.inputBox:focus {
  outline: none;
}

.addText{
    color: lightgray;
    font-size: 1.2em;
    text-wrap: nowrap;
    margin-left: 16px;
    margin-right: 8px;
    margin-top: 8px;
}

.pairText{
    display: flex;
    width:50%;
    margin: 16px 8px;
}

.submitButton {
    /* background-color: #1E1E1E; */
    color: #fff;
    padding: 8px 16px;
    font-size: 1em;
    height: 2.5em;
    border: 1px solid #3995E6;
    border-radius: 4px;
    cursor: pointer;
    margin: 16px;

    background: transparent;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

/* .submitButton:hover {
    background-color: #2a7bbf;
} */
.submitButton::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: #3995E6;
  z-index: -1;
  transition: all 0.5s;
}

.submitButton:hover {
  color: white;
}

.submitButton:hover::before {
  width: 160%;
}




.cardDelete {
    background-color: #1E1E1E;
    color: #ff4d4d;
    padding: 8px 8px;
    border: none;
    z-index: 10;
    border-radius: 8px 0 0 0;
    cursor: pointer;
    position: relative;
    left: -0.6%;
    width: 35%;
    height: 25%;
    top: 1%;
    transition: left 0.26s linear, width 0.25s linear, height 0.25s linear, font-size 0.25s linear;
}
.cardDelete:hover {
    /* background-color: #ff4d4d;
    color: #eee;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    border-radius: 8px;
    font-size: 2em;
    top: 0%;   */
    scale: 1.05;
    border: 1px dashed #ff4d4d;
    z-index: 1000;
    border-radius: 8px 0 0 8px;
}

.editButton{
    background-color: #1E1E1E;
    color: #ffde4d;
    padding: 8px 8px;
    border: none;
    z-index: 10;
    border-radius: 0 8px 8px 0px;
    cursor: pointer;
    position: relative;
    left: -0.7%;
    width: 35%;
    height: 25%;
    top: 1%;
    /* transition: left 1s linear, width 0.25s linear, height 0.25s linear, font-size 0.25s linear; */
}
.editButton:hover {
    scale: 1.05;
    border: 1px dashed #ffde4d;
}


.buttonContainer {
    position: relative;
    top: -110%;
    height: 100%;
    gap: 8px;
    margin-top: 8px;
}

.cardInfoWrapper {
    display: flex;
    justify-content: space-between;
    height: 0px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.linkButton {
    background-color: #2C2C2C;
    color: #fff;
    /* border: 0.5px solid ; */
    border: none;
    padding: 8px 16px;
    position: relative;
    z-index: 10;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
    margin: auto 1px;
    height: 5vh;
    font-size: 1em;
}

.linkButton:hover {
    background-color: #eee;
    color: #1E1E1E;
}

.toggleDetailsButton{
    background-color: #2C2C2C;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    height: calc(1em + 8px);
    display: flex;
    position: absolute;
    right: 12em;

}
.toggleDetailsButton:hover {
    background-color: #eee;
    color: #1E1E1E; 
}

.toggleDetailsButton:hover .toggleDetailsIcon {
    filter: invert(0.3);
}

.shDetails{
    margin: auto 8px;
    font-size: 1em;
    font-weight: lighter;
}


.toggleDetailsIcon{
    width: 24px;
    height: 24px;
    filter: invert(1);
    /* margin-top: -0.25em; */
    animation: forwards 0.3s ease-in-out;
}

.adminLoginButton{
    background-color: #1E1E1E;
    color: #fff;
    padding: 8px 16px;
    border: 1px solid #3995E6;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    font-weight: lighter;
    height: 2.5em;
}
.adminLoginButton:hover {
    background-color: #2a7bbf;
}

.adminLogoutButton{
    background-color: #1E1E1E;
    color: #eee;
    padding: 8px 16px;
    border: 1px solid #ff4d4d;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    height: 2.5em;
    margin-right: 2.5em;
    right: 0em;
    position: absolute;
}
.adminLogoutButton:hover {
    background-color: #ff4d4d;
    color: #fff;
}

.sectionTitle {
    color: #eee;
    /* font-size: 1.5vw; */
    margin-top: 1vw;
    margin-bottom: 0%;
}

.totalContainer{
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 1vw;
    justify-self: flex-end; 
}

.totalTitle{
    color: #eee;
    font-size: 1.5em;
    margin-right: 0.5em;
}

.totalPrice{
    color: #eee;
    font-size: 2.5em;
}

.labourFeeTitle{
    color: #eee;
    margin-right: 0.5em;
}

.labourFeeContainer{
    display: flex;
    align-items: center;
    margin: 1vw;
}

.resetButton{
    background-color: #1E1E1E;
    color: #fff;
    padding: 8px 16px;
    border: 1px solid #ff4d4d;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-left: 1vw;
    font-size: 1.3em;
}
.resetButton:hover {
    background-color: #ff4d4d;
    color: #fff;
}


.resetContainer{
    display: flex;
    align-items: center;
}

.stickyFooter{
    position: sticky;
    bottom: 0;
    background-color: #1E1E1E;
    padding: 10px 0;
    margin-top: 10px;
    border-top: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.inputFee {
    border: 0.5px solid #eee;
    padding: 8px;
    border-radius: 4px;
    margin: 6px 5px;
    /* background-color: #2C2C2C; */
    background-color: #1E1E1E;
    color: #fff;
    
}

.inputFee:focus {
  outline: none;
}

.addCardButton{
    border: .5px solid #eee;
    padding: 1vh;
    /* border-radius: 8px; */
    margin: 3vh;
    height: 25vh;
    width: 25vh;
    transition: all 0.2s ease-in-out;
    margin: auto 1vw;
    display: flex;
    justify-content: center;
    align-items: center;  

}

.addCardIcon{
    filter: invert(1);
    width: 25vh;
    height: 25vh;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.addButtonContainer{
    display: flex;
}


.fullContainer{
    display: flex;
    align-items: center;
    background-color: #1E1E1E;
    z-index: 1000;
}

.addCol1{
    display: flex;
    
}
.addCol2{
    display: flex;
  
}

.loginContainer{
    width: 8em;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    right: 3em;
}

.loginBlock{
    /* border: #eee solid 0.5px; */
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    background-color: #131313;
    width: 15em;
    position: absolute;
    top: 3em;
    right: 0;
}

.loginInput{
    /* border: 0.5px solid #eee; */
    margin: 8px 8px;
    border: none;
    padding: 8px;
    border-radius: 4px;
    background-color: #1E1E1E;
    color: #fff;
}
.loginInput:focus {
  outline: none;
}
.loginButton{
    background-color: #1E1E1E;
    color: #fff;
    padding: 8px 16px;
    border: 0.5px solid #3995E6;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-size: 1em;
    font-weight: lighter;
    height: 2.5em;
    margin: 8px 8px;
}

.loginButton:hover {
    background-color: #2a7bbf;
}

.adminLoginText {
    color: #eee;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}



@media only screen and (max-width: 600px) {
    .shDetails{
        display: none;
    }
    .section {
        height: 30vh;
        width: 105%;
    }
    .addCard{
        width: 87vw;
    }
    .pairText{
        flex-direction: column;
        padding: 8px;;
    }
    .addText{
        margin: 8px 0;
    }
    #urlInput {
        width: 100%;
    }
    #priceInput {
        width: 60%;
    }
    #rowInput {
        width: 50%;
    }
    .cardDelete{
        top:1%;
    }
    .title{
        left: 8px;
        margin-top: 1em;
        font-size: 2em;
    }
    .adminLoginButton{
        position: absolute;
        right: -3em;
    }
    .toggleDetailsButton{
        position: absolute;
        right: 9em;
    }
    .adminLogoutButton {
        margin-right: 0;
    }
    
    
}